<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.edbite.groupingwizard1"
version = "1.5">
  <!-- version: for best results, use a major/minor/patch style version, with three numbers, such as 0.0.1 -->
  
  <name>Grouping Wizard</name>
  <description>《勁抽》- 分組抽籤易 | Grouping Wizard - a lucky draw and grouping tool</description>
  <author href="http://diy.fwg.hk/groupingwizard/" email="ite@edb.gov.hk">ITE Section of the Education Bureau 教育局資訊科技教育組</author>
  
  <!-- Multi-Platform -->
  <preference name="phonegap-version" value="2.9.0" />
  <preference name="orientation" value="default" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
 
  <!-- iOS -->
  <preference name="webviewbounce" value="false" />
  <preference name="stay-in-webview" value="false" />
  <preference name="prerendered-icon" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  
  
  <!-- Android -->
  <preference name="android-minSdkVersion" value="7" />
  <preference name="android-maxSdkVersion" value="15" />
  <!-- App2SD support -->
  <preference name="android-installLocation" value="auto" />
  
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  
  <!-- ios -->
  <access origin="http://diy.fwg.hk" />
  <!-- android -->
  <!--<access origin="http://diy.fwg.hk/ajax/import*" />-->
  
  <!-- if a single icon is specified then Build will use it for all platforms -->
  <icon src="icon.png" />
  
  <!-- the default attribute can also be used -->
  <!-- <icon src="appfiles/icon.png" default="true" /> -->
  
  <!-- iOS requires specific dimensions for icons; classic iPhone screens, Retina
	  displays, and iPad screens respectively -->
  <icon src="appfiles/icon-29.png" gap:platform="ios"  width="29" height="29"/>
  <icon src="appfiles/icon.png" gap:platform="ios"  width="57" height="57"/>
  <icon src="appfiles/icon-72.png" gap:platform="ios"  width="72" height="72"/>
  <icon src="appfiles/icon-114.png" gap:platform="ios"  width="114" height="114"/>
  <icon src="appfiles/icon-144.png" gap:platform="ios"  width="144" height="144"/>
  <icon src="appfiles/icon-512.png" gap:platform="ios"  width="512" height="512"/>
  <icon src="appfiles/icon-1024.png" gap:platform="ios"  width="1024" height="1024"/>
  
  <!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respectively -->
  <icon src="appfiles/icon-36.png" gap:platform="android" width="36" height="36" gap:density="ldpi"/>
  <icon src="appfiles/icon-48.png" gap:platform="android" width="48" height="48" gap:density="mdpi"/>
  <icon src="appfiles/icon-72.png" gap:platform="android" width="72" height="72" gap:density="hdpi"/>
  <icon src="appfiles/icon-96.png" gap:platform="android" width="96" height="96" gap:density="xhdpi"/>
  
  
  <!-- if a single splash screen is specified it will be used for all platforms.
    Multiple splash screens are recommended for iOS -->
  <!--<gap:splash src="splash.png" />-->
  
  <!-- iOS requires specific dimensions for different devices; classic iPhone
	screens, Retina displays, and iPad screens -->
  <gap:splash src="appfiles/splash.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="appfiles/splash-640.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="appfiles/splash-640-ios5.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="appfiles/splash-768.png" gap:platform="ios" width="768" height="1004"/>
  <gap:splash src="appfiles/splash-1024.png" gap:platform="ios" width="1024" height="748"/>
  <gap:splash src="appfiles/splash-1536.png" gap:platform="ios" width="1536" height="2008" />
  <gap:splash src="appfiles/splash-2048.png" gap:platform="ios" width="2048" height="1496" />
  
  <gap:splash src="appfiles/splash.png" gap:platform="android" gap:density="ldpi" width="320" height="480" />
  <gap:splash src="appfiles/splash.png" gap:platform="android" gap:density="mdpi" width="320" height="480" />
  <gap:splash src="appfiles/splash-640.png" gap:platform="android" gap:density="hdpi" width="640" height="960"/>
  <gap:splash src="appfiles/splash-640.png" gap:platform="android" gap:density="xhdpi" width="640" height="960"/>
  
  <gap:plugin name="InAppBrowser" />

</widget>
